.manage {
  min-height: 100vh;

  .ninja {
    margin: 0;

    img {
      display: none;
    }

    .title {
      font-size: 2rem;
    }
  }

  .tasks {
    margin-top: 2rem;

    .title {
      font-size: 2rem;
    }

    .list {
      margin: 0;

      li {
        font-size: 1rem;

        &.done {
          text-decoration-thickness: 1px;
        }
      }
    }
  }
}